@model ArtsInChicago.Models.ViewModels.ArtworksListViewModel;

@{
    ViewData["Title:"] = "Artworks list";
}

<h4>List of current artworks ...</h4>

<form asp-controller="ArtworksList" asp-action="Index">
    <label>Select artwork type:</label>
    <select name="artwork_type" onchange="this.form.submit()">
        @foreach (var item in Model.ArtworkTypes)
        {
            <option>@item</option>
        }
    </select>
    <input type="submit" value="Filter" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Date</th>
            <th>Place of origin</th>
            <th>Department</th>
            <th>Ref. Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ArtworksList.Data)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Artist)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.PlaceOfOrigin)</td>
                <td>@Html.DisplayFor(modelItem => item.Department)</td>
                <td>@Html.DisplayFor(modelItem => item.RefNumber)</td>
                <td>
                    @*<a asp-controller="ArtworkDetails" asp-action="Index" asp-route-id="@item.Id">Details</a>*@

                    @{
                        var parms = new Dictionary<string, string>
                            {
                                { "id", @item.Id.ToString() },
                                { "backController", "ArtworksList" }
                            };
                    }
                    <a asp-controller="ArtworkDetails" asp-action="Index" asp-all-route-data="parms">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @{
        var prevDisabled = Model.ArtworksList.PagingParams.CurrentPage == 1 ? "disabled" : "";
        var nextDisabled = Model.ArtworksList.PagingParams.CurrentPage == Model.ArtworksList.PagingParams.TotalPages ? "disabled" : "";

    }

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @prevDisabled"><a class="page-link" asp-controller="ArtworksList" asp-action="Index" asp-route-pageNumber="@(Model.ArtworksList.PagingParams.CurrentPage-1)">Previous</a></li>
            <li class="page-item"><a class="page-link" asp-controller="ArtworksList" asp-action="Index" asp-route-pageNumber="@Model.ArtworksList.PagingParams.CurrentPage">@Model.ArtworksList.PagingParams.CurrentPage</a></li>
            <li class="page-item @nextDisabled"><a class="page-link" asp-controller="ArtworksList" asp-action="Index" asp-route-pageNumber="@(Model.ArtworksList.PagingParams.CurrentPage+1)">Next</a></li>
        </ul>
    </nav>
</div>

<hr />
<div>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        |
        <a asp-area="" asp-controller="Gallery" asp-action="Index">Gallery</a>
    </p>
</div>
