@model ArtsInChicago.Models.ViewModels.DetailsViewModel;

@{
    ViewData["Details"] = "Artwork details";
}

<div>
    <img src="@Model.Details.Data.ImageUrl" />
    <h2>@Model.Details.Data.Title, @Model.Details.Data.Date</h2>
    <h4>@Model.Details.Data.Artist</h4>
    <b>Medium:</b>
    <p>@Model.Details.Data.Medium</p>
    <b>Dimentions:</b>
    <p>@Model.Details.Data.Dimentions</p>
    <b>Description:</b>
    <p>@Model.Details.Data.Description</p>

</div>

<hr />
<div>
    <p>
        @{ 
                string text="";
                switch (Model.BackController)
                {
                    case "ArtworksList": text = "list"; break;
                    case "Gallery": text = "gallery"; break;
                }
            }
        <a asp-area="" asp-controller="@Model.BackController" asp-action="IndexCached">Back to @text</a>
    </p>
</div>